dialog#add-problem:open {
  padding: 0;
  height: 150px;
  width: 300px;
  background-color: #aaa;
}
dialog#add-problem:open form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
}
dialog#add-problem:open form h2 {
  margin-top: 5px;
  color: #fff;
  font-size: 1.7em;
}
dialog#add-problem:open form input {
  text-align: center;
  outline: none;
}
dialog#add-problem:open form button {
  color: #444;
}
dialog#add-problem:open form button:hover {
  color: #000;
}